@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    font-family: 'OpenSans';
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #eecfba, #c5dde8);
    padding-top: 80px;
    color: #444e58;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #000;
    color: #afeeee;
    border-bottom: 5px solid #afeeee;
    padding: 0 10%;
}

.logo h1 {
    font-size: 24px;
    font-weight: 400;
}

h2 {
    text-align: center;
}

nav {
    font-size: 18px;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    padding: 5px 20px;
}

a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

nav a:hover,
footer a:hover {
    color: #e6de79;
}

.landing-page-container {
    width: 100%;
    color: #444e58;    
}

.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 80px solid transparent;
	margin-top: -80px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    height: 100vh;
    border-bottom: 5px solid #afeeee;
}

.container-about {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}

.button-play,
.button-new-player,
.button-ok {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    text-transform: uppercase;
    font-size: 20px;
    background-color: paleturquoise;
    border-radius: 5px;
    margin: 0 auto;   
}

.button-play:hover,
.button-new-player:hover,
.button-ok:hover {
    cursor: pointer;
    background-color: #e6de79;
}

.button-ok {
    margin: 20px auto;
}

.button-new-player {
    font-size: 16px;
    margin-bottom: 20px;    
}

.form-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 20px #afeeee;
    color: #afeeee;
    width: 400px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444e58;
}

label {
    display: block;
    text-align: center;
}

.form-screen input {
    display: block;
    width: 300px;
    margin: 15px 0;
    font-size: 20px;
}

.form-screen button {
    display: block;
    margin: 0 auto;
    width: 110px;
    height: 35px;
    background-color: #afeeee;
    color: #444e58;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-screen button:hover {
    background-color: #83eeee;    
}

.additional {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-screenshots,
.section-author {
    border-top: 80px solid transparent;
	margin-top: -80px;
    padding: 20px 80px;
    color: #afeeee;
    text-align: center; 
    background-clip: padding-box;
    border-bottom: 5px solid #afeeee;
}

.section-screenshots {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.screenshots {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.screenshots div:first-child {    
    background: url("../img/scr-1.png") center no-repeat;    
}

.screenshots div:nth-child(2) {  
    background: url("../img/scr-2.png") center no-repeat;
}

.screenshots div:last-child {    
    background: url("../img/scr-3.png") center no-repeat;
}

.img {
    width: 750px;
    height: 418px;
    border: 2px solid #afeeee;
    margin: 0 20px 20px 20px;
}

.section-about p,
.section-screenshots p,
.section-author p {
    padding: 20px 15px;    
}

.section-author {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-bottom: 5px solid #afeeee;
    color: #444e58;
}

footer {
    background-color: #000;
    color: #afeeee;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
}

div.spell {
    width: 240px;
    height: 240px;
    margin: 20px;
}

div.spell:hover {
    cursor: pointer;
}

.task-screen {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 1244px;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c9c9c9;
}

.game-container {
    height: 100vh;
    display: flex;
    margin-top: -80px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 280px;
    background-color: transparent;
}

.spell:hover {
    outline: 20px solid #fff;
}

div.spell:first-child {
    background: url("../img/laser-ray.jpg") center no-repeat;
}

div.spell:last-child {
    background: url("../img/electric-ray.jpg") center no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task-container > span {
    font-size: 20px;
    color: #f5f5f5;
    padding: 10px;
    position: absolute;
    top: 10px;
}

p > span {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0px 10px;
}

.task-container {
    position: relative;
    width: 1244px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87cefa;
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #818181;
    color: #000;
}

canvas {
    margin: 0 auto;
    display: block;
    background-image: url("../img/background.png");
    border-radius: 10px;
    box-shadow: 0 0 10px #818181;
}

.task-screen > div > p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    font-family: inherit;
    font-size: inherit;
    width: 100px;
    text-align: center;
    width: 400px;
}

.button, .button-done,
.button-choose-spell,
.button-records {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 59px;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    background-color: #90ee90;
    border-radius: 5px;
    margin: 20px;
}

.button:hover, .button-done:hover,
.button-choose-spell:hover,
.button-records:hover {
    cursor: pointer;
    background-color: #adff2f;    
}

.button-choose-spell,
.button-records {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -300%);
    width: 300px;
    margin: 0;
}

.hidden {
    display: none;
}

div.correct {
    background-color: #90ee90;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 59px;
    align-items: center;
    margin: 20px 0;
}

div.incorrect {
    background-color: #f08080;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 59px;
    align-items: center;
    margin: 20px 0;
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sortable li {
    margin: 3px 3px 3px 0;
    padding: 1px;
    float: left;
    width: 100px;
    height: 90px;
    text-align: center;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 60px;
    cursor: -webkit-grab;
}

.table-records h2 {
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: #ddd;
    box-shadow: 0 0 10px #181818;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color:#f5f5f5;
}